<div class="modal-overlay" id="deleteModal">
    <div class="modal-card">

        <div class="modal-icon danger">
            <i class="fa-solid fa-trash"></i>
        </div>

        <h3>تأیید حذف</h3>

        <p id="deleteModalText">
            آیا مطمئن هستید؟
        </p>

        <form method="POST" id="deleteForm" action="">

            {% csrf_token %}

            <input
                type="hidden"
                name="action"
                value="delete_record"
            >

            <div class="modal-actions">

                <button type="submit" class="btn btn-danger">
                    <i class="fa-solid fa-trash"></i>
                    حذف
                </button>

                <button
                    type="button"
                    class="btn btn-secondary"
                    onclick="closeDeleteModal()"
                >
                    <i class="fa-solid fa-xmark"></i>
                    انصراف
                </button>

            </div>

        </form>

    </div>
</div>
